[submodule "PythonQt"]
	path = PythonQt
	url = https://github.com/leviathanch/PythonQt.git
	#url = git@github.com:leviathanch/PythonQt.git
[submodule "kdevelop"]
	path = kdevelop
	url = https://github.com/foshardware/kdevelop
