[submodule "PythonQt"]
	path = PythonQt
	url = https://github.com/leviathanch/PythonQt.git
	#url = git@github.com:leviathanch/PythonQt.git
[submodule "coriolis"]
	path = coriolis
	url = https://www-soc.lip6.fr/git/coriolis.git
[submodule "toml11"]
	path = toml11
	url = https://github.com/leviathanch/toml11.git
