Source: qtflow
Section: unknown
Priority: extra
Maintainer: David Lanzendörfer <david.lanzendoerfer@lanceville.cn
Build-Depends:
	qtbase5-dev, qtbase5-dev-tools,
	qttools5-dev-tools,
	qtscript-tools,
	python-all-dev,
	build-essential,
	qt5-default,
	bison,
	flex,
	qtbase5-private-dev,
	qtconnectivity5-dev,
	qtdeclarative5-dev,
	qtdeclarative5-dev-tools,
	qtconnectivity5-dev,
	qt5keychain-dev,
	qt5-style-plugins,
	tcl8.6-dev,
	tk8.6-dev,
	tcl,
	libgsl-dev,
	libreadline-dev,
	python3,
	mercurial,
	iverilog,
	git,
	gawk,
	cmake,
	clang,
	pkg-config,
	libkf5texteditor-dev,
	gettext,
	libqt5svg5-dev,
	qttools5-dev,
	qtmultimedia5-dev,
	libqt5xmlpatterns5-dev,
	libboost-all-dev,
	cmake, debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://libresilicon.com

Package: qtflow
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt5 based free VLSI development tool
